<?xml version="1.0" encoding="windows-1251"?>

<configuration>

	<configSections>
		<section name="CompositeScriptResourceSection" type="Kesco.Web.Mvc.Compression.Configuration.CompositeResourceSection, Kesco.Web.Mvc.Compression"
				 allowLocation="true" allowDefinition="Everywhere"  />
	</configSections>

	<CompositeScriptResourceSection Enabled="false" ClientCacheDays="365"
		ResourceCompositionAction="CompositeScriptResource.aspx/getresource/" DefinedCompositeResourcePath="" />
	

	<appSettings>			

		<add key="configLevel2_Generation" value="D011"/>


		<!--  MVC Specific params//-->
		<add key="IsProduction" value="true"/>
		<add key="ClientValidationEnabled" value="true"/>

		<!-- ПАРАМЕТРЫ КОРПОРАТИВНОЙ КУЛЬТУРЫ //-->
		<add key="Culture.EnglishName" value="Corporate Culture Settings"/>
		<add key="Culture.NativeName" value="Корпоративные настройки культуры"/>

		<!-- ФОРМАТИРОВАНИЕ ЧИСЛОВЫХ ДАННЫХ - целые и дробные числа, проценты, валюта 
			Для указания расположения в шаблоне элементов введены следующие соглашения:
				'n' - указывает положение цифр числа, включая разделители дробной части и разрядов
				'-' - указывает положение знака, указывающее, что число отрицательное
				'%' - указывает положение знака, указывающее, что число выражено в процентах.
				'$' - указывает положение знака, обозначающее валюту. //-->
		<!-- Форматирование целых и дробных чисел //-->
		<!-- Шаблон положительного числа //-->
		<add key="Culture.Number.PositivePattern" value="n"/>
		<!-- Шаблон отрицательного числа, один из "(n)|-n|- n|n-|n -" //-->
		<add key="Culture.Number.NegativePattern" value="-n"/>
		<!-- Количество разрядов дробной части для отображения по умолчанию //-->
		<add key="Culture.Number.Decimals" value="2"/>
		<!-- Знак, разделяющий целую и дробную части //-->
		<add key="Culture.Number.DecimalSeparator" value=","/>
		<!-- Знак, разделяющий разряды числа //-->
		<add key="Culture.Number.GroupSeparator" value=" "/>

		<!-- Форматирование чисел, представляющих процент //-->
		<add key="Culture.Percent.PositivePattern" value="n%"/>
		<add key="Culture.Percent.NegativePattern" value="-n%"/>
		<add key="Culture.Percent.Decimals" value="2"/>
		<add key="Culture.Percent.DecimalSeparator" value=","/>
		<add key="Culture.Percent.GroupSeparator" value=" "/>
		<!-- Знак, указывающее, что число выражено в процентах //-->
		<add key="Culture.Percent.Symbol" value="%"/>

		<!-- Форматирование чисел, представляющих валюту //-->
		<add key="Culture.Currency.PositivePattern" value="n$"/>
		<add key="Culture.Currency.NegativePattern" value="-n$"/>
		<add key="Culture.Currency.Decimals" value="2"/>
		<add key="Culture.Currency.DecimalSeparator" value=","/>
		<add key="Culture.Currency.GroupSeparator" value=" "/>
		<add key="Culture.Currency.Symbol" value="р."/>

		<!-- ФОРМАТИРОВАНИЕ ДАТЫ/ВРЕМЕНИ - 
			Для указания расположения в шаблоне элементов даты/времени используються стандартые обозначения
			Дополнительно:
				'/' - указывает положение знака, используемый для разделения частей даты.
				':' - указывает положение знака, используемый для разделения частей времени.
			//-->
		<add key="Culture.DateTime.DatePartsSeparator" value="."/>
		<add key="Culture.DateTime.TimePartsSeparator" value=":"/>
		<add key="Culture.DateTime.AM" value=""/>
		<add key="Culture.DateTime.PM" value=""/>

		<!-- Предопределённые шаблоны форматирования //-->
		<!-- 'd' - шаблон представления даты в краткой форме  //-->
		<add key="Culture.DateTime.ShortDatePattern" value="dd/MM/yyyy"/>
		<!-- 'D' - шаблон представления даты в полной форме //-->
		<add key="Culture.DateTime.LongDatePattern" value="dddd, MMMM dd, yyyy"/>
		<!-- 't' - шаблон представления времени в краткой форме //-->
		<add key="Culture.DateTime.ShortTimePattern" value="H:mm tt"/>
		<!-- 'T' - шаблон представления времени в полной форме //-->
		<add key="Culture.DateTime.LongTimePattern" value="H:mm:ss tt"/>
		<!-- 'f' - шаблон представления даты в полной форме и времени в краткой форме //-->
		<add key="Culture.DateTime.LongDateShortTimePattern" value="dd/MM/yyyy H:mm"/>
		<!-- 'F' - шаблон представления даты и времени в полной форме //-->
		<add key="Culture.DateTime.FullDateTimePattern" value="dd/MM/yyyy H:mm:ss"/>

		<!-- 'M' - шаблон представления месяц/день //-->
		<add key="Culture.DateTime.MonthDayPattern" value="MMMM dd"/>
		<!-- 'Y' - шаблон представления месяц/год //-->
		<add key="Culture.DateTime.MonthYearPattern" value="yyyy MMMM"/>

	</appSettings>
	
	<system.web>
		<httpRuntime requestValidationMode="2.0"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="ru-RU" />	
				
		<pages validateRequest="false">
			<namespaces>

				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages"/>

				<add namespace="Kesco.Web" />
				<add namespace="Kesco.Web.Mvc" />
				<add namespace="Kesco.Web.Mvc.Compression" />
				<add namespace="Kesco.Web.Mvc.Compression.Resource" />
				<add namespace="Kesco.Web.Mvc.UI" />
				<add namespace="Kesco.Web.Mvc.UI.Fluent" />				
			</namespaces>
		</pages>		
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="UrlRoutingModule-4.0" />
			<add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
			  <!-- any other modules you want to run in MVC e.g. FormsAuthentication, Roles etc. -->
		</modules>

		<httpProtocol>
		      <customHeaders>
		        <add name="X-UA-Compatible" value="IE=Edge" />
		      </customHeaders>
		</httpProtocol>
		<!--handlers>

			<remove name="JsCompress"/>
			<remove name="CssCompress"/>

			<add name="JsCompress" path="*.js" verb="*" type="Kesco.Web.Mvc.Compression.ScriptResourceCompressionHandler, Kesco.Web.Mvc.Compression" preCondition="integratedMode" />
			<add name="CssCompress" path="*.css" verb="*" type="Kesco.Web.Mvc.Compression.ScriptResourceCompressionHandler, Kesco.Web.Mvc.Compression" preCondition="integratedMode" />
		</handlers-->
	</system.webServer>

</configuration>

