<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource"
		  type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		  requirePermission="true" />
	</configSections>

	<enterpriseLibrary.ConfigurationSource selectedSource="File-based Configuration Source"
	 parentSource="">
		<sources>
			<add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add name="File-based Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			 filePath="C:\projects\Kesco\WebAssets\Mvc\EntLibConfigs\resources.config" />
		</sources>
		<redirectSections>
			<add sourceName="File-based Configuration Source" name="loggingConfiguration" />
		</redirectSections>
	</enterpriseLibrary.ConfigurationSource>
	<appSettings>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="false"/>

		<add key="AppName" value="Статьи движения денежных средств"/>

		<add key="ConnectionString.DS_Person" value="data source=beta;initial catalog=Справочники;integrated security=SSPI;Current Language=Russian"/>
		<add key="ConnectionString.DS_User"	value="data source=beta;initial catalog=Инвентаризация;integrated security=SSPI;Current Language=Russian"/>

		<add key="URI_Styles_Scripts"	value="http://alf32.testcom.com/mvc/Styles/Scripts/"/>
		<add key="URI_Styles_Css"		value="http://alf32.testcom.com/mvc/Styles/Css/"/>
		<add key="URI_Styles_Images"	value="http://alf32.testcom.com/mvc/Styles/Images/"/>

		<add key="domain"		value="testcom.com"/>
		<add key="SmtpServer"     	value="smtp.testcom.com"/>
		<add key="Email_Support"	value="letyagin@testcom.com"/>

		<add key="URI_user_form"        value="http://beta.testcom.com/users/user.aspx"/>

	</appSettings>

	<system.web>
		<globalization enableClientBasedCulture="false" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

		<authentication mode="Windows">
		</authentication>

		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages"/>

				<add namespace="Kesco.Web" />
				<add namespace="Kesco.Web.Mvc" />
				<add namespace="Kesco.Web.Mvc.UI" />
				<add namespace="Kesco.Web.Mvc.UI.Fluent" />

				<add namespace="Kesco.ApplicationServices"/>
				<add namespace="Kesco.ApplicationServices.Web"/>
				<add namespace="Kesco.ApplicationServices.Web.Models"/>

			</namespaces>
		</pages>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
