<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="configLevel3_Generation" value="A017" />
    <add key="AppName" value="MVC: Справочник лиц" />
    <add key="URI_WikiHelp" value="http://orion.kescom.com/userguides/persons/help.htm" />

    <add key="accessCardEmployee" value="31,101,102" />
    
    <add key="link_p1_Params" value="PersonLinkParent=@ID&amp;PersonLinkType=1" />
    <add key="link_c1_Params" value="PersonLinkChild=@ID&amp;PersonLinkType=1" />
    <add key="link_p2_Params" value="PersonLinkParent=@ID&amp;PersonLinkType=2" />
    <add key="link_c2_Params" value="PersonLinkChild=@ID&amp;PersonLinkType=2" />
    <add key="link_p3_Params" value="PersonLinkParent=@ID&amp;PersonLinkType=3" />
    <add key="link_c3_Params" value="PersonLinkChild=@ID&amp;PersonLinkType=3" />
    <add key="link_p4_Params" value="PersonLinkParent=@ID&amp;PersonLinkType=4" />
    <add key="link_c4_Params" value="PersonLinkChild=@ID&amp;PersonLinkType=4" />
    <add key="store_account_Params" value="clid=14&amp;StoreManager=@id&amp;title=%D0%A1%D1%87%D0%B5%D1%82" />
    <add key="store_accountService_Params" value="clid=14&amp;StoreKeeper=@id&amp;title=%D0%9F%D1%80%D0%B5%D0%B4%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B1%D0%B0%D0%BD%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D1%85%20%D1%83%D1%81%D0%BB%D1%83%D0%B3" />
    <add key="store_Params" value="clid=14&amp;StoreManager=@id&amp;StoreType=21&amp;title=%D0%A1%D0%BA%D0%BB%D0%B0%D0%B4" />
    <add key="store_service_Params" value="clid=14&amp;StoreType=21&amp;StoreKeeper=@id&amp;title=%D0%9F%D1%80%D0%B5%D0%B4%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%20%D1%83%D1%81%D0%BB%D1%83%D0%B3%20%D1%85%D1%80%D0%B0%D0%BD%D0%B5%D0%BD%D0%B8%D1%8F" />
    <add key="abacus_Params" value="id=@id" />
    <add key="1s_Params" value="DirOU=1&amp;id=@id" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
  </appSettings>
  <connectionStrings>
   </connectionStrings>
  <!--
    Описание изменений web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=235367.

    Следующие атрибуты можно установить с помощью тега <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add verb="*" path="dialogresult.ashx" type="Kesco.Web.Mvc.UI.Controls.DialogResultHandler, Kesco.Web.Mvc.UI.Controls"/>
    </httpHandlers>    
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="MvcJqGrid" />
        <add namespace="Kesco.Persons.Web" />
        <add namespace="Kesco.Persons.Web.Models" />
      </namespaces>
    </pages>
    <compilation debug="true" targetFramework="4.5.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>   
    <httpProtocol>
      <customHeaders>
        <add name="cache-control" value="no-cache" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <remove value="Role.aspx" />
        <add value="search.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>