@inherits Kesco.Persons.Web.SiteViewPage<Kesco.Persons.Web.Models.Dossier.DossierSectionContext>
@using Kesco.Web.Mvc;
@using Kesco.Persons.Web.Models.Dossier;
@{
	var sectionID = Model.Section.ID.ToString();
	var items = Model.ViewModel.GetContextItems(cxti => cxti.TabID == Model.Section.ID);

	if (items.Count == 0) {Html.DossierClientSideScript_HideSection(Model.Section.ID);}

}
@foreach (var item in items) {
	<tr class="hoverable dsl@(sectionID)">
		<td colspan="2" style="width:90%; padding-left: 20px;">
			@Html.Raw(HL(item.Label))
		</td>
		<td class="changed">
			@Html.DisplayFor(m => item.ChangedBy, "EmployeeStatic", new { 
				TooltipPositionMy = "middle right", TooltipPositionAt = "middle left",
				InitialLabel = HL(item.ChangedByFIO) })
			<span>@(item.ChangedDate)</span>
		</td>
	</tr>
}
